.bod{
    max-height: 200px;
    img{
    	z-index: 10;
    }
}
mdb-navbar{
  display: flex;
}
.navigation{
	min-width: 95.8vw;
}
.m-l{
	margin-left: 0vw;
	margin-right: 10vw;
}
.m-r{
	margin-left: 10vw;
	margin-right: 0vw;
}
.img-brand {
  	color: (0, 0, 0, 100)
}
.img-brand-chil{
	margin-right: 3.2vw;
}
.nav-item{
	padding: 0vh 1vw 1vh 1vw;
	display: block;
}
.nav-item:first-child{
	padding: 0vh 2vw 1vh 2vw;
	display: block;
}
.nav-item:last-child{
	padding: 0vh 2vw 1vh 2vw;
	display: block;
}
.nav-link{
	padding: 0 0 0 0;
}
a {
	font-family: 'Sansation Light', arial;
    font-weight: 400;
    color: black;
    &:hover {
        color: black;
    }
}
.middle-link a {
    text-decoration: none;
    font-size: 1.17em;
    letter-spacing: .06em;
    position: relative;
    transition: all 0.7s;
    &:before {
        content: "";
        width: 0;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 50%;
        background: black;
        transition: all 0.6s;
    }
    &:hover {
        &:before {
            width: 100%;
            left: 0;
            background: black;
        }
    }
    &:active {
        &:before {
            width: 100%;
            left: 0;
            background: black;
        }
    }
}


@media screen and (min-width: 990px) {
	.img-brand{
		display: none;
	}
}
@media screen and (max-width: 991px) {
	.img-brand-chil{
		display: none;
	}
	mdb-navbar{
	  	display: block;
	  	background-color: white;
	  	max-height: 130px;
	  	width: 100vw;
	}
	.navbar{
		padding: 0 0;
	}
	.navigation{
		display: inline-block;
		background-color: white;
		padding-bottom: 15vh;
	}
	.navigation ul{
		padding: 0 0 0 0;
	}
	.nav{
		display: flex;
		height: 44vh;
	}
	.nav-item{
		width: 100vw;
		padding: 0;
		text-align: center;
		vertical-align: middle;
	}
	.nav-item:first-child{
		padding: 0;
		text-align: center;
		vertical-align: middle;
	}
	.nav-item:last-child{
		padding: 0;
		text-align: center;
		vertical-align: middle;
	}
	.navbar-collapse{
		background-color: white;
	}
	.nav-link{
		height: 10vh;
		padding-top: 4vh;
		img{
    		height: 3em;
    	}
	}
	.middle-link a {
    	font-size: 2.17em;
    }

}