.shop-main{
  padding-top: 9px;
  margin-left: -25px;
  font-size: 33px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 10px;
  color: white}
.shop-main:hover{
  color: #DEB887;
  text-decoration: none;
}
.n-link{
  color: white;
}
.n-link:hover{
  color: #DEB887;
}
.n-link.active{
  color: #DEB887;
}
.i{
  color: white;
}
