<div class= "" style="height: 9em"> 
    <img src="../../assets/icons/top-hap.svg" height="200" alt="">
</div>

<div class= "bod" style="height: 9em"> 
    <img src="../../assets/icons/top-hap.svg" height="200" alt="">
    <h4 class="title-company">HAPPYBOXOMSK</h4>
</div>


<!--<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view img-gradient w-100">
      <img class="d-block w-100" src="../../assets/images/image-2.jpg" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h4 class="title-h4">HAPPYBOXOMSK</h4>
      <h3 class="title-h3">МАСТЕРСКАЯ ПОДАРОЧНЫХ НАБОРОВ</h3>
      <p class="title-p title-one">сделай свой подарок мечты реальностью</p>
      <a class="title-link" href="#!">
      	<div class="button-t">каталог</div>
      </a>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view img-gradient w-100 ">
      <img class="d-block w-100" src="../../assets/images/image-3.jpg" alt="Second slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h4 class="title-h4">HAPPYBOXOMSK</h4>
      <h3 class="title-h3 ">КОРПОРАТИВНЫЕ ЗАКАЗЫ ПО ОПТОВЫМ ЦЕНАМ</h3>
      <p class="title-p">от десяти штук</p>
      <a class="title-link" href="#!">
      	<div class="button-t button-two">корпоративным клиентам</div>
      </a>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view img-gradient w-100">
      <img class="d-block w-100" src="../../assets/images/image-4.jpg" alt="Third slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h4 class="title-h4">HAPPYBOXOMSK</h4>
      <h3 class="title-h3">ИНДИВИДУАЛЬНЫЕ ЗАКАЗЫ С ТВОИМ СОСТАВОМ</h3>
      <p class="title-p">срок сборки от двух суток</p>
      <a class="title-link" href="#!">
      	<div class="button-t button-three ">связаться с нами </div>
      </a>
    </div>
  </mdb-carousel-item>
</mdb-carousel>-->

<section>
	<div class="slider-main">
  		<div class="slider-main-item img-gradient">
  			<img src="../../assets/images/image-2.jpg" alt="">
      		<div class="slider-in">
      			<h3 class="title-h3">МАСТЕРСКАЯ ПОДАРОЧНЫХ НАБОРОВ</h3>
	      		<p class="title-p title-one">сделай свой подарок мечты реальностью</p>
	      		<a class="title-link" href="#!">
	      			<div class="button-t">каталог</div>
	      		</a>
      		</div>
  		</div>
  		<div class="slider-main-item img-gradient">
  			<img src="../../assets/images/image-3.jpg" alt="">
      		<div class="slider-in">
	      		<h3 class="title-h3 ">КОРПОРАТИВНЫЕ ЗАКАЗЫ ПО ОПТОВЫМ ЦЕНАМ</h3>
	      		<p class="title-p">от десяти штук</p>
			    <a class="title-link" href="#!">
			    	<div class="button-t button-two">корпоративным клиентам</div>
			    </a>
		    </div>
  		</div>
  		<div class="slider-main-item img-gradient">
  			<img src="../../assets/images/image-4.jpg" alt="">
		    <div class="slider-in">
			    <h3 class="title-h3">ИНДИВИДУАЛЬНЫЕ ЗАКАЗЫ С ТВОИМ СОСТАВОМ</h3>
			    <p class="title-p">срок сборки от двух суток</p>
			    <a class="title-link" href="#!">
			    	<div class="button-t button-three ">связаться с нами </div>
			    </a>
		    </div>
  		</div>
	</div>
</section>
<main>
	<h2>ПОПУЛЯРНЫЕ НАБОРЫ</h2>
	<div class="slider-most-product">
  		<div class="most-product">
  			<a class="scale" href="">
  				<img src="../../assets/images/01.jpg" alt="">
  			</a>
  				<h5>НАБОР #3</h5>
  				<h6>1670 Р</h6>
  			<a class="middle" href="#!">П0СМОТРЕТЬ</a>
  		</div>
  		<div class="most-product">
  			<a class="scale" href="">
  				<img src="../../assets/images/02.jpg" alt="">
  			</a>
  				<h5>НАБОР #2</h5>
  				<h6>2330 Р</h6>
  			<a class="middle" href="#!">П0СМОТРЕТЬ</a>
  		</div>
  		<div class="most-product">
  			<a class="scale" href="">
  				<img src="../../assets/images/03.jpg" alt="">
  			</a>
  				<h5>НАБОР #3</h5>
  				<h6>3440 Р</h6>
  			<a class="middle" href="#!">П0СМОТРЕТЬ</a>
  		</div>
  		<div class="most-product">
  			<a class="scale" href="">
  				<img src="../../assets/images/04.jpg" alt="">
  			</a>
  				<h5>НАБОР #4</h5>
  				<h6>5000 Р</h6>
  			<a class="middle" href="#!">П0СМОТРЕТЬ</a>
  		</div>
  		<div class="most-product">
  			<a class="scale" href="">
  				<img src="../../assets/images/02.jpg" alt="">
  			</a>
  				<h5>НАБОР #5</h5>
  				<h6>2370 Р</h6>
  			<a class="middle" href="#!">П0СМОТРЕТЬ</a>
  		</div>
  		<div class="most-product">
  			<a class="scale" href="">
  				<img src="../../assets/images/01.jpg" alt="">
  			</a>
  				<h5>НАБОР #6</h5>
  				<h6>4670 Р</h6>
  			<a class="middle" href="#!">П0СМОТРЕТЬ</a>
  		</div>
  		<div class="most-product">
  			<a class="scale" href="">
  				<img src="../../assets/images/03.jpg" alt="">
  			</a>
  				<h5>НАБОР #7</h5>
  				<h6>1670 Р</h6>
  			<a class="middle" href="#!">П0СМОТРЕТЬ</a>
  		</div>
  		<div class="most-product">
  			<a class="scale" href="">
  				<img src="../../assets/images/04.jpg" alt="">
  			</a>
  				<h5>НАБОР #8</h5>
  				<h6>1890 Р</h6>
  			<a class="middle" href="#!">П0СМОТРЕТЬ</a>
  		</div>
  		<div class="most-product">
  			<a class="scale" href="">
  				<img src="../../assets/images/02.jpg" alt="">
  			</a>
  				<h5>НАБОР #9</h5>
  				<h6>6000 Р</h6>
  			<a class="middle" href="#!">П0СМОТРЕТЬ</a>
  		</div>
	</div>
</main>
<div class= "content" >
	<h2>МЫ ПРЕДЛАГАЕМ:</h2>
	<h2 class="border-low"></h2>
	<div class="content-box">
		<div class="content-block-1">
			<img src="../../assets/icons/numder-01.svg" alt="">
			<div class="content-text-1">
				<h5>Сборка наборов в самый короткий срок </h5>
				<p>Даже если набор нужен вам сегодня, мы предлагаем варианты наборов со сроками сборки 2-3 часа</p>
			</div>
		</div>
		<div class="content-block-2">
			<img src="../../assets/icons/numder-02.svg" alt="">
			<div class="content-text-2">
				<h5>Воплощение ваших самых смелых задумок</h5>
	            <p>Если вы хотите собрать нестандартный набор, с оригинальными элементами, мы выберем самый подходящий дизайн и раскладку, согласуем все с вами. Срок сборки такого набора зависит от выбранных элементов.</p>
			</div>
		</div>
		<div class="content-block-3">
			<img src="../../assets/icons/numder-03.svg" alt="">
			<div class="content-text-3">
				<h5>Лучшее качество элементов</h5>
	            <p>Мы согласуем с вами все , вплоть до марок и объема элементов. Особенное внимание этому уделяется в индивидуальных наборах. Именно вы выбираете, что будет лежать в вашем наборе. Любые элементы в готовых наборах также можно заменить.</p>
			</div>
		</div>
	</div>
</div>
<div class= "" style="height: 150em">
</div>


<router-outlet></router-outlet>
