<form class="text-center border border-light p-5" action="#!" [formGroup]="form" (ngSubmit)="submit()">

    <p class="h4 mb-4">Войти в панель администратора</p>

    <!-- Email -->
    <div>
        <label class="lab" for="email">Email</label>
        <input id="email" class="form-control" type="email" formControlName="email">
        <div *ngIf="form.get('email').touched && form.get('email').invalid" class="validation">
            <small *ngIf="form.get('email').errors.required">Введите Email</small>
            <small *ngIf="form.get('email').errors.email">Введите правильный Email</small>
        </div>
    </div>
    <!-- Password -->
    <div>
        <label class="lab" for="password">Пароль</label>
        <input id="password" class="form-control" type="password" formControlName="password">
        <div *ngIf="form.get('password').touched && form.get('password').invalid" class="validation">
            <small *ngIf="form.get('password').errors.required">Введите пароль</small>
            <small *ngIf="form.get('password').errors.minlength">
                Пароль должен быть не менее {{form.get('password').errors.minlength.requiredLength}} знаков.
                Вы ввели {{form.get('password').errors.minlength.actualLength}}
            </small>
        </div>
    </div>

    <div class="d-flex justify-content-around">
        <div>
            <!-- Remember me -->
            <div class="custom-control custom-checkbox pt-3">
                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Запомнить пароль</label>
            </div>
        </div>
    </div>

    <!-- Sign in button -->
    <button class="btn btn-dark btn-block my-4" type="submit" [disabled]="form.invalid || submited">Войти</button>

</form>
